{% extends 'base.distributeur.html' %}
{% block title %}Gestion{% endblock %}

{% block content %}
<br>
<br>
<br>
    
    <div class="container">     
        
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Montant</th>
                <th scope="col">Expediteur</th>
                <th scope="col">Receveur</th>
            </tr>
            </thead>
            <tbody>
                
            {% for item in transactions %}
            <tr>
                <th scope="row">{{item['item'].date}}</th>
                <td>{{item['item'].type}}</td>
                <td>{{item['item'].montant}}</td>
                <td>{{item['expediteur']}}</td>
                <td>{{item['receveur']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}