{% extends 'base.distributeur.html' %}
{% block title %}Liste{% endblock %}

{% block content %}
<br>
<br>
<br>
    
    <div class="container">    
        
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Numero de compte</th>
                <th scope="col">Etat</th>
                <th scope="col">Solde</th>
            </tr>
            </thead>
            <tbody>
            {% for item in users %}
            <tr>
                <th scope="row">{{item.nom}}</th>
                <td>{{item.prenom}}</td>
                <td>{{item.numero}}</td>
                <td>{% if item.etat %}Actif{% else %}Desactivé{% endif %}</td>
                <td>{{item.solde}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}